body{
    color: white;
    background-color: aquamarine;
}
h3{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px dashed black;
    width: 850px;
    height: 700px;
}
#result_of_objects, #result_of_accuracy{
    color: yellow;
}
